._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 320px;
  z-index: 101;
}

.header__top {
  padding: 70px 0px 70px 0px;
  position: relative;
}

.header__top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 101;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 102;
  font-size: 32px;
  font-family: verdanab;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  color: #fe504f;
  margin: 0px 5px 0px 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__burger {
  display: none;
}

.header__main-list {
  position: relative;
  z-index: 102;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}

.header__main-list > li:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.header__link {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 0px 5px 0px;
}

@media (max-width: 780px) {
  .header__burger {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22px;
            flex: 0 0 22px;
    height: 20px;
    position: relative;
    z-index: 102;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    left: 0;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: white;
    top: 46.5%;
    left: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger._active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9.5px;
  }

  .header__burger._active span {
    opacity: 0;
  }

  .header__burger._active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8.5px;
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
  }

  .header__top::before {
    background-color: #1a1717;
  }

  .header__top {
    padding: 20px 0px 20px 0px;
  }

  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 90px 10px 20px 10px;
    overflow: auto;
    background-color: white;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    top: -100%;
    left: 0;
  }

  .header__nav._active {
    top: 0;
  }

  .header__main-list {
    row-gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__main-list > li:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    color: black;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
  }
}

@media (any-hover: hover) {
  .header__logo:hover {
    color: #f31111;
  }

  .header__link:hover {
    border-bottom: 1px solid #fe504f;
  }
}