* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main,
section {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: verdana;
  font-display: swap;
  src: url("../fonts/verdana.woff2") format("woff2"), url("../fonts/verdana.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: verdanab;
  font-display: swap;
  src: url("../fonts/verdanab.woff2") format("woff2"), url("../fonts/verdanab.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: verdanaN;
  font-display: swap;
  src: url("../fonts/verdanaN.woff2") format("woff2"), url("../fonts/verdanaN.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?uiixyx");
  src: url("../fonts/icomoon.eot?uiixyx#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?uiixyx") format("truetype"), url("../fonts/icomoon.woff?uiixyx") format("woff"), url("../fonts/icomoon.svg?uiixyx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e900";
}

.icon-start:before {
  content: "\e901";
}

.icon-pause:before {
  content: "\e903";
}

.icon-twitter:before {
  content: "\e902";
}

.icon-in:before {
  content: "\e906";
}

.icon-ytube:before {
  content: "\e90e";
}

.icon-facebook:before {
  content: "\e90f";
}

.icon-email:before {
  content: "\e911";
}

.icon-ytube2:before {
  content: "\e913";
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  font-family: verdana;
}

body._isLocked {
  overflow: hidden;
}

.page__mainblock {
  padding: 190px 0px 400px 0px;
}

.page__mainblock.main {
  padding-top: 270px;
  padding-bottom: 270px;
}

.page__services {
  padding: 40px 0px 0px 0px;
  padding-bottom: 80px;
}

.page__contact {
  padding-top: 120px;
  padding-bottom: 100px;
}

.page__about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page__news {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page__info {
  padding: 0px 0px 50px 0px;
  padding-top: 90px;
}

.page__main-news {
  margin: -320px 0px 0px 0px;
  position: relative;
  z-index: 4;
  padding: 0px 0px 50px 0px;
}

.page__post {
  margin: -320px 0px 0px 0px;
  position: relative;
  z-index: 4;
  padding: 0px 0px 50px 0px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px;
}

.error-block {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 6;
  font-weight: 700;
}

.error-block span {
  font-size: 18px;
  color: red;
}

.white-title {
  font-size: 60px;
  line-height: 123.3333333333%;
  font-weight: 700;
  color: #ffffff;
  font-family: verdanab;
}

.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #adadad;
}

.red-btn,
.black-btn {
  min-height: 65px;
  border-radius: 40px;
  background-color: #fe504f;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 30px 0px 30px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.black-btn {
  background-color: #343434;
}

.black-title {
  font-size: 24px;
  line-height: 116.6666666667%;
  font-weight: 700;
  text-transform: uppercase;
  color: #343434;
  text-align: center;
  font-family: verdanab;
}

.subtitle {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

.white-title-small {
  font-size: 34px;
  line-height: 170.5882352941%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-family: verdanab;
}

.red-title {
  font-size: 20px;
  font-family: verdanab;
  font-weight: 700;
  text-transform: uppercase;
  color: #fe504f;
  padding: 0px 0px 10px 0px;
  position: relative;
  line-height: 130%;
}

.red-title::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fe504f;
  display: block;
}

.form-input {
  width: 100%;
  height: 45px;
  background-color: rgba(254, 80, 79, 0);
  border: 1px solid #aeaeae;
  padding: 0px 15px 0px 15px;
  color: white;
  font-size: 17px;
}

.form-input:focus {
  border: 1px solid #f3f0f0;
}

.form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 74px;
  font-weight: 400;
  color: #afafaf;
}

.form-input::-moz-placeholder {
  font-size: 14px;
  line-height: 74px;
  font-weight: 400;
  color: #afafaf;
}

.form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 74px;
  font-weight: 400;
  color: #afafaf;
}

.form-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 74px;
  font-weight: 400;
  color: #afafaf;
}

.form-input::placeholder {
  font-size: 14px;
  line-height: 74px;
  font-weight: 400;
  color: #afafaf;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.mainblock {
  position: relative;
}

.no-webp .mainblock::before {
  background-image: url("../img/Mainblock/bg2.png"); }

.mainblock::before {
  content: "";
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  background-position: top 0 right 0;
}

.mainblock.main::before {
  height: 60%;
}

.mainblock__content {
  position: relative;
  z-index: 4;
  max-width: 700px;
}

.mainblock__content > *:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.mainblock__content.full {
  max-width: unset;
}

.mainblock__title.center {
  text-align: center;
}

.mainblock__text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.mainblock__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px -10px 0px;
}

.mainblock__btns > a {
  margin: 0px 30px 10px 0px;
}

.mainblock__profit {
  position: absolute;
  z-index: 4;
  top: 10%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #fe504f;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
}

.mainblock__profit.main {
  top: 40%;
  right: 10px;
}

.mainblock__profit::before {
  content: "";
  position: absolute;
  width: 0;
  z-index: 4;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #fe504f;
  border-bottom: 5px solid transparent;
  top: 50%;
  right: -10px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.mainblock__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mainblock__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainblock__bg::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: black;
  display: block;
  opacity: 0.7;
}

.services__title {
  margin: 0px 0px 10px 0px;
}

.services__all-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px -50px 0px;
}

.services__all-services > div {
  margin: 0px 0px 50px 0px;
}

.services__service {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 10px 0px;
}

.service__icon img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55px;
          flex: 0 1 55px;
  height: 55px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: verdanaN;
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  color: #343434;
  padding: 0px 0px 30px 0px;
}

.service__title span {
  display: block;
}

.service__title::after {
  content: "";
  display: block;
  height: 2px;
  width: 70px;
  left: 50%;
  background-color: #fe504f;
  position: absolute;
  bottom: 20px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.service__text {
  text-align: center;
}

.contact {
  position: relative;
  z-index: 2;
}

.contact__body {
  position: relative;
  z-index: 3;
}

.contact__title {
  text-transform: uppercase;
  text-align: center;
  font-family: verdanab;
  margin: 0px 0px 40px 0px;
}

.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.contact__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.contact__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__bg.decor {
  opacity: 0.5;
  z-index: 2;
}

.contact__bg.decor::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: black;
  opacity: 0.8;
}

.about-page__title {
  margin: 0px 0px 10px 0px;
}

.about-page__subtitle {
  margin-bottom: 70px;
}

.about-page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-page__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  min-width: 0;
}

.about-page__small-title {
  margin: 0px 0px 25px 0px;
}

.about-page__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #343434;
}

.about-page__swiper {
  position: relative;
  height: 380px;
  width: 100%;
}

.about-page__slider {
  width: 100%;
}

.about-page__slide {
  height: calc((100% - 10px) / 2) !important;
}

.about-page__slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.about-page__slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-page__slider-pagintaion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 0px 0px;
  position: static !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.about-page__slider-pagintaion .swiper-pagination-bullet {
  width: 35px !important;
  border-radius: 0%;
  opacity: 1;
  height: 4px !important;
  background-color: #aeaeae !important;
  display: block !important;
}

.about-page__slider-pagintaion .swiper-pagination-bullet-active {
  background-color: #fe504f !important;
}

.about-page__slider-pagintaion > span:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.about-page__team {
  margin: 30px 0px 0px 0px;
}

.about-page__all-team {
  margin: 30px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.worker {
  position: relative;
}

.worker:hover .worker__hover {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  pointer-events: all;
}

.worker__pic {
  position: relative;
  padding: 0px 0px 100% 0px;
}

.worker__pic a {
  display: block;
  width: 100%;
}

.worker__pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.worker__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  background-color: #fe504f;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  pointer-events: none;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

.worker__hover::-webkit-scrollbar-track {
  border-radius: 4px;
}

.worker__hover::-webkit-scrollbar {
  width: 6px;
}

.worker__hover::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
}

.worker__hover:hover::-webkit-scrollbar-thumb {
  background: #6a7d9b;
}

.worker__role {
  font-size: 32px;
  line-height: 125%;
  font-weight: 700;
  color: #ffffff;
  font-family: verdanab;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.worker__name {
  font-family: verdanab;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

.worker__job {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.video {
  position: relative;
}

.video__body {
  padding-top: 120px;
  padding-bottom: 100px;
}

.video__content {
  position: relative;
  z-index: 2;
}

.video__start-btn,
.video__pause-btn {
  width: 93px;
  height: 92px;
  background-color: #9b7b74;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
}

.video__start-btn::before,
.video__pause-btn::before {
  font-size: 24px;
  color: white;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.video__start-btn:hover,
.video__pause-btn:hover {
  background-color: #da6044;
}

.video__pause-btn {
  display: none;
}

.video__title {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.video__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.video__vid {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
}

.video__vid video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.video__vid::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: black;
  opacity: 0.4;
}

.video__bg {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
}

.video__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: black;
  opacity: 0.4;
}

.info-page {
  position: relative;
}

.info-page__content {
  z-index: 1;
  position: relative;
}

.info-page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.info-page__info-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.1666666667%;
          flex: 0 1 42.1666666667%;
}

.info-page__title {
  font-size: 32px;
  line-height: 32px;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  color: #fe504f;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  font-family: verdanab;
  margin: 0px 0px 30px 0px;
}

.info-page__title:hover {
  color: #fa2222;
}

.info-page__about {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 30px 0px;
  position: relative;
}

.info-page__about::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  width: 51px;
  height: 3px;
  background-color: #fe504f;
}

.info-page__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px -20px 0px;
}

.info-page__contact {
  margin: 0px 0px 20px 0px;
}

.info-page__form-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.3333333333%;
          flex: 0 1 38.3333333333%;
}

.info-page__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.info-page__bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-page__bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.8;
  background-color: black;
}

.info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-contact__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fe504f;
}

.info-contact__icon::before {
  color: #fe504f;
}

.info-contact__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.info-contact__link {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.info-contact__link:hover {
  text-decoration: underline;
}

.news__title {
  margin: 0px 0px 20px 0px;
}

.news__subtitle {
  margin-bottom: 70px;
}

.news__news-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.news__big-pic {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  position: relative;
}

.news__big-pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__small-pic {
  position: relative;
}

.news__small-pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-info {
  background-color: #343434;
  padding: 30px;
  position: relative;
}

.news-info__title {
  margin: 0px 0px 20px 0px;
  line-height: 26px;
}

.news-info__text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.news-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.news-info__link a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  color: #fe504f;
}

.news-info__link a:hover {
  color: #f12323;
}

.news-info::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
}

.news-info.left::before {
  border-top: 21px solid transparent;
  border-right: 42px solid #343434;
  border-bottom: 21px solid transparent;
  top: 10%;
  left: -42px;
}

.news-info.top::before {
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 42px solid #343434;
  top: -42px;
  right: 10%;
}

.news-info.right::before {
  border-top: 21px solid transparent;
  border-left: 42px solid #343434;
  border-bottom: 21px solid transparent;
  top: 10%;
  right: -42px;
}

.main-news__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-news__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 301px;
          flex: 0 0 301px;
}

.main-news__news {
  margin: 0px 0px 50px 0px;
}

.main-news__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-news__btn a {
  min-height: 60px;
  background-color: #343434;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fe504f;
  font-family: verdanab;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.post__main-picture {
  position: relative;
  padding: 0px 0px 41.6666666667% 0px;
}

.post__main-picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.post__description {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #343434;
  padding: 30px;
  width: 38%;
}

.post__body {
  padding: 50px;
  background-color: white;
  position: relative;
  z-index: 4;
}

.post__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #343434;
  margin: 0px 0px 50px 0px;
}

.post__text > p:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.post__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #343434;
  margin: 0px 0px 10px 0px;
}

.comments-posts__total {
  border-bottom: 1px solid #f0f2f6;
  font-size: 18px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  font-family: verdanab;
  padding: 0px 0px 10px 0px;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.comments-posts__total::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #fe504f;
  width: 69px;
  display: block;
  bottom: 0;
  left: 0;
}

.comments-posts__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 30px 0px;
}

.comments-posts__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 84%;
          flex: 0 1 84%;
}

.comments-posts__input input {
  width: 100%;
  height: 40px;
  background-color: rgba(240, 242, 246, 0);
  border: 2px solid #aeaeae;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  color: black;
}

.comments-posts__input input:focus {
  border: 3px solid #aeaeae;
}

.comments-posts__submit-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 143px;
          flex: 0 0 143px;
}

.comments-posts__submit-btn button {
  height: 40px;
  background-color: #343434;
  padding: 0px 10px 0px 10px;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fd6041;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.comments-posts__submit-btn button:hover {
  background-color: #0c0c0c;
}

.comments-posts__all-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments-posts__all-comments > div:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.comments-posts__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-posts__user-icon {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 50px;
}

.comments-posts__user-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comments-posts__reply {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 30px;
}

.comments-posts__reply-header {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0px 0px 10px 0px;
  font-family: verdanab;
}

.comments-posts__reply-header span {
  padding: 0px 10px 0px 10px;
}

.comments-posts__reply-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #8d8d8d;
}

@media (max-width: 1200px) {
  .page__mainblock.main {
    padding-top: calc(120px + 150 * ((100vw - 320px) / (880)));
  }

  .page__mainblock.main {
    padding-bottom: calc(120px + 150 * ((100vw - 320px) / (880)));
  }

  .page__services {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / (880)));
  }

  .page__contact {
    padding-top: calc(50px + 70 * ((100vw - 320px) / (880)));
  }

  .page__contact {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / (880)));
  }

  .page__about {
    padding-top: calc(40px + 40 * ((100vw - 320px) / (880)));
  }

  .page__about {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / (880)));
  }

  .page__news {
    padding-top: calc(40px + 40 * ((100vw - 320px) / (880)));
  }

  .page__news {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / (880)));
  }

  .page__info {
    padding-top: calc(50px + 40 * ((100vw - 320px) / (880)));
  }

  .white-title {
    font-size: calc(30px + 30 * ((100vw - 320px) / (880)));
  }

  .subtitle {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / (880)));
  }

  .white-title-small {
    font-size: calc(22px + 12 * ((100vw - 320px) / (880)));
  }

  .about-page__subtitle {
    margin-bottom: calc(40px + 30 * ((100vw - 320px) / (880)));
  }

  .video__body {
    padding-top: calc(50px + 70 * ((100vw - 320px) / (880)));
  }

  .video__body {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / (880)));
  }

  .news__subtitle {
    margin-bottom: calc(40px + 30 * ((100vw - 320px) / (880)));
  }
}

@media (max-width: 998px) {
  .mainblock::before {
    display: none;
  }

  .mainblock__profit {
    display: none;
  }

  .services__service {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .news__news-block {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .news__big-pic {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
  }

  .news-info {
    padding: 20px;
  }

  .news-info::before {
    display: none;
  }

  .post__main-picture {
    padding: 0px 0px 50% 0px;
  }

  .post__description {
    padding: 10px;
    width: 80%;
  }

  .post__description .red-title {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .about-page__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin: 0px 0px -20px 0px;
  }

  .about-page__row > div {
    margin: 0px 0px 20px 0px;
  }

  .about-page__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .about-page__all-team {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .info-page__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .post__body {
    padding: 25px;
  }

  .comments-posts__reply {
    padding: 0px 0px 0px 15px;
  }
}

@media (max-width: 650px) {
  .services__service {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 495px) {
  .services__all-services {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }

  .services__service {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .about-page__all-team {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .worker__pic {
    padding: 0px 0px 80% 0px;
  }

  .news__news-block {
    display: block;
  }

  .news__big-pic {
    padding: 0px 0px 70% 0px;
  }

  .news__small-pic {
    padding: 0px 0px 70% 0px;
  }

  .main-news__btn a {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .post__body {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .about-page__swiper {
    height: auto;
  }

  .about-page__slide {
    height: auto;
    padding: 0px 0px 30% 0px;
  }

  .about-page__slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

@media (any-hover: hover) {
  .red-btn:hover,
  .black-btn:hover {
    background-color: #cc3131;
  }

  .black-btn:hover {
    background-color: #2c2a2a;
  }

  .worker__role:hover {
    text-decoration: underline;
  }

  .worker__name:hover {
    color: darkblue;
  }

  .main-news__btn a:hover {
    background-color: #2e2929;
  }
}

.webp .mainblock::before { background-image: url(../img/Mainblock/bg2.webp); }